$font-primary-color:#E8F1FF;
$theme-primary-color:#0F2F81;


header{
  display: flex;
  flex-wrap: wrap;
  height: 78px;
  align-items: center;
  justify-content: space-between;
  padding:40px 100px 0px 150px;
  color: $font-primary-color;
  background-color: $theme-primary-color;
  img{
    width: 190px;
    height: 75px;
  }

  a{
  padding:10px 90px 0px 0px;
  font-size: 20px;
  }
}
