<section class="catalog-box">
  <div class="left-pane">
    <div class="vl"></div>
    <div class="entry">
      <h2>Team</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
    </div>

    <div class="entry unselect">
      <h2>Technologies</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
    </div>

    <div class="entry unselect">
      <h2>Portfolio</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
    </div>

  </div>
  <div class="right-pane">
    <h1>
      An experienced software engineering team for your business needs
    </h1>
    <div class="pane-img">
      <img src="/assets/catalog1.png" />
    </div>
  </div>
</section>
<section class="tech-box">

  <h1>
    We use state of the Art technologies
  </h1>

  <img src="/assets/tech-stack.png"/>


</section>
